*.pyc
*.swp
*.egg-info
build/*
dist/*
tests/pyvirtualenv
dev/*
tmp/*
*.PEP8-ERRORS
/.project
/.pydevproject

.tox/
tests/serialise/juniper-json-examples/include
tests/serialise/juniper-json-examples/ocbind
tests/serialise/juniper-json-examples/openconfig
tests/integration/openconfig-bgp/include/
tests/integration/openconfig-bgp/ocbind/
tests/integration/openconfig-bgp/openconfig/
tests/integration/openconfig-interfaces/include/
