# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
tests/pyvirtualenv
env/

# Editor-specific files
*.swp
/.project
/.pydevproject
.vscode
.idea/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
coverage-*.xml
junit-*.xml
*,cover
reports/
*.PEP8-ERRORS
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Integration/split-class test files
tests/integration/openconfig-bgp/include/
tests/integration/openconfig-bgp/ocbind/
tests/integration/openconfig-bgp/openconfig/
tests/integration/openconfig-interfaces/include/
tests/integration/openconfig-interfaces/ocbind/
tests/integration/openconfig-interfaces/openconfig/
tests/notification/bindings/
tests/serialise/juniper-json-examples/include/
tests/serialise/juniper-json-examples/ocbind/
tests/serialise/juniper-json-examples/openconfig/
tests/serialise/openconfig-serialise/include/
tests/serialise/openconfig-serialise/ocbind/
tests/serialise/openconfig-serialise/openconfig/
tests/split-classes/bindings/
