sudo: false
language: python
cache: pip
python:
  - 2.7
  - pypy
  - 3.4
  - 3.5
  - 3.6
  - 3.7
matrix:
  include:
  - python: 2.7
    env: TOXENV=flake8
install:
  - pip install tox tox-travis codecov
script: tox
after_success: codecov
branches:
  only:
    - master
